<% layout('./blog/LAYER') -%>
  <% block('css').append(`<link rel="stylesheet" href="/css/blog/index.css">
  <link rel="stylesheet" href="/weather/css/style.css">`) %>
  
  <div class="wrapper">
    <div class="hot-box">
      <div class="lt">
        <%- include('swiper') -%>
      </div>
      <div class="rt">
        <div class="tit">
          <h2>热门</h2>
        </div>
        <div class="swiper-container hot-list">
          <div class="swiper-wrapper"></div>
          <div class="swiper-scrollbar"></div>
        </div>
      </div>
    </div>
    
    <section class="classify">
      <div class="lt">
        <h2 class="title">分类</h2>
      </div>
      <div class="rt">
        <%for(var i=0;i<typeList.length;i++){%>
        <div class="classify-item">
          <a class="type-lk" href="/blog/articlelist?by[type_id]=<%=typeList[i]._id%>">
            <i class='<%= "iconfont icon-"+typeList[i].iconfont_name  %>' ></i>
            <i class='<%= "iconfont bottom icon-"+typeList[i].iconfont_name  %>' ></i>
            <p><%=typeList[i].type_name %></p>
          </a>
        </div>
      <%}%>
      </div>
    </section>
    <div class="sec-wrapper">
      <div class="line"></div>
      <section class="weather">
        <div class="inner">
          <div class="w-icon">
            <div class="icon sun-shower">
              <div class="cloud"></div>
              <div class="sun">
                <div class="rays"></div>
              </div>
              <div class="rain"></div>
            </div>

            <div class="icon thunder-storm">
              <div class="cloud"></div>
              <div class="lightning">
                <div class="bolt"></div>
                <div class="bolt"></div>
              </div>
            </div>

            <div class="icon cloudy">
              <div class="cloud"></div>
              <div class="cloud"></div>
            </div>

            <div class="icon flurries">
              <div class="cloud"></div>
              <div class="snow">
                <div class="flake"></div>
                <div class="flake"></div>
              </div>
            </div>

            <div class="icon sunny">
              <div class="sun">
                <div class="rays"></div>
              </div>
            </div>

            <div class="icon rainy">
              <div class="cloud"></div>
              <div class="rain"></div>
            </div>
          </div>
          <div class="w-info">
            <span class="w-city">获</span>
            <span class="w-up-time">正</span>
            <span class="w-temp">在</span>
            <span class="w-province">取</span>
          </div>
        </div>
        <div class="w-fullpage"> <p>建设中</p></div>
      </section>
    </div>
    
    <section class="article">
      <div class="article-list">
        <h2 class='title'>最新文章
          <a href="blog/articlelist">MORE</a>
        </h2>
        <ul>
          
        </ul>
      </div>
      <div class="right-item">
        <div class="arc-tag-box">
          <h2>Tag标签</h2>
          <div class="articletag-list">
          <% if(tagList.length==0){ %>
            内容为空
          <% }else{ %>
          <% for(var i=0;i<tagList.length;i++){ %>
            <a class='tag-lk' href= "/blog/articlelist?by[tags_id]=<%=tagList[i]._id %>">
              <%= tagList[i].tag_name %>
              <div class="lk-inner">
                <div class="front"><span><%= tagList[i].tag_name %></span></div>
                <div class="back"><span><%= tagList[i].count %></span></div>
              </div>
              
            </a>
          <% }} %>
          </div>
        </div>
        <div class="add-box">
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <!-- 条 -->
          <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-1406478853190180"
              data-ad-slot="3764371141"
              data-ad-format="link"
              data-full-width-responsive="true"></ins>
          <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
        <div class="arc-comm-box">
          <h2>最新评论</h2>
          <div class="artcomm-list">
            <% if(commList.length==0){ %>
            内容为空
            <% }else{ %>
            <% for(var i=0;i<commList.length;i++){ %>
              <a class='comm-lk' href= "/blog/article/<%=commList[i].article[0]._id %>#comment">
              <h6 class="arc-tit"><%=commList[i].article[0].title %></h6>
              <%var avatarSrc=commList[i].avatar[0]!=null?commList[i].avatar[0].save_path+'thumbnail_'+commList[i].avatar[0].new_name:'/images/user/avatars/default/1.png';%>
              <div class="arc-comm"><img class="head-pic" src="<%=avatarSrc%>" onerror="this.src='/images/default_writer_avatar.png'" alt="头像"><%=commList[i].author[0].user_name %> : <span><%=commList[i].comment_text %></span></div> 
              </a>
            <% }} %>
          </div>
        </div>
        
      </div>
    </section>
  </div>
  <% block('js').append(`<script src="/js/blog/index.js"></script>`) %>